<h1>Search Results</h1>

<% if @games.present? %>
  <h2><%= "#{pluralize(@games.count, "Game")}" %> found.</h2>
  <ul>
    <% @games.each do |game| %>
      <li><%= link_to "#{game.name} (#{Platform.where(id: game.platforms).pluck(:name).join(', ')})", game_path(game.id) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No results found.</p>
<% end %>

<%= link_to "Home", root_path %>
