#main-nav {
  display: flex;
  gap: 0.45rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid black;
  position: sticky;
  top: 0;
  overflow: hidden;
}

#user-links {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
